<div id="alert-banner-top" class="container-fluid"  style="width: 100vw; padding-top: 1.5em; z-index: -1;">
  <div class="row">
  <div class="orange-banner" style="background-color: #ffb500; width: 100vw; min-height: max-content; justify-content: center;">    
     <div class="mt-4 mb-1" style="margin-left: 7%;"> 
    <span style="font-size: 1.4em; font-weight: 700;">TODAY: SR 520 closed across Lake Washington; SR 520 Trail open </span>
     <p>8/11/2023 - 8/14/2023<br> 11:00 p.m. to 5:00 a.m. <a href="/construction-lake-washington">Read more</a></p>   
   </div> 
   </div>
  </div>
</div>