<div class="orange-banner" style="background-color: #ffb500; width: 100vw; min-height: max-content; justify-content: center;">    
    <div style="margin-left: 7%; padding-top:1em; padding-bottom: 1em"> 
   <span style="font-size: 1.4em; font-weight: 700;">Lake Washington Boulevard fully closed 7/23 - 8/4</span>
    <p>7/23/2023 to 8/4/2023<br> 10:00 p.m. to Noon. <a href="/construction-lake-washington">Read more</a></p>   

  </div> 
  </div>