
    <div class="icon-text-pair rhombus-2">
        <img src="/img/high_impact_construction.png" width="25px" height="25px">
        <a href="/construction-lake-washington">SR 520 closed across Lake Washington 8/11 - 8/14</a>
      </div>

      <div class="icon-text-pair rhombus-2">
        <img src="/img/whitedash-onred.png" width="25px" height="25px">
        <a href="/construction-westbound-sr-520">Westbound SR 520 off-ramp to Montlake Boulevard closed overnight 8/14 - 8/17</a>
      </div>
  

    <div class="icon-text-pair rhombus-2">
      <img src="/img/whitedash-onred.png" width="25px" height="25px">
      <a href="/construction-montlake-boulevard">Montlake Boulevard on-ramp to eastbound SR 520 closed weeknights</a>
    </div>


