<section class="flickr-area center" style="align-items: center; justify-content: space-around; background-color: antiquewhite;">
    <div class="container">
       <div class="row">


     <div class="col-md-6 mt-4">
        <p></p><p></p>
        <a data-flickr-embed="true" data-footer="true" href="https://www.flickr.com/photos/wsdot/albums/72177720302832268" title="Historical photos of I-5/SR 520 interchange construction"><img src="https://live.staticflickr.com/65535/52421215656_a17597e298.jpg" width="500" height="375" alt="Historical photos of I-5/SR 520 interchange construction"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
     </div>

     <div class="col-md-6 mt-4">
        <p></p><p></p>
        <a data-flickr-embed="true" data-footer="true" href="https://www.flickr.com/photos/wsdot/albums/72157720017909938" title="SR 520 - I-5 Express Lanes Connection Project"><img src="https://live.staticflickr.com/65535/52767273969_681f18ac00.jpg" width="500" height="375" alt="SR 520 - I-5 Express Lanes Connection Project"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
     </div>

       </div>
    <div class="row mt-2 mb-3 pb-3"> </div>
     
    <p></p>
    <p></p>
    </div>

  </section>