<!-- ## Start footer ###  -->
<footer class="footer" style="min-width: 100vw">
    <div class="container">
      <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <div class="col-md-4">
          <div class="logo-container" style="margin-bottom: 12px; display: block; width: 267px; height: 43px; margin-right: 14px;">
            <img class="img-fluid" src="https://sr520construction.blob.core.windows.net/520-uploads/wsdot-logo-white.svg" alt="WSDOT logo" width="267px" height="43px" />
          </div>
        </div>
  
        <div class="col-md-2">
          <ul class="footerrow mt-3">
            <li><a href="contact">Contact</a></li>
            <li><a href="https://wsdot.wa.gov/about/americans-disabilities-act-ada">Accessibility</a></li>
            <li><a href="https://wsdot.wa.gov/about/title-vi-limited-english-proficiency">Title VI</a></li>
   
          </ul>
     </div><div class="col-md-6">
          <div class="social-row d-flex" style="margin-top: 18px;">
    
            <a href="https://www.facebook.com/wsdot" target="_blank" class="social-link"><i class="fa-brands fa-facebook" style="text-decoration: none;"></i> </a>
  
            <a href="https://twitter.com/wsdot_520" target="_blank" class="social-link"><i class="fab fa-twitter"></i> </a>
  
            <a href="https://www.instagram.com/wsdot/" target="_blank" class="social-link"><i class="fab fa-instagram"></i> </a>
  
            <a href="https://www.youtube.com/playlist?list=PLEvVhy_eoUuDlR31tXgXNYbNKFhZ5k0p_" target="_blank" class="social-link"><i class="fab fa-youtube"></i></a>
  
            <a href="https://www.flickr.com/photos/wsdot/collections/72157626070884650/" target="_blank" class="social-link"><i class="fab fa-flickr"></i></a>            
          
            <a href="https://www.tiktok.com/@washingtonstatedot?lang=en" target="_blank" class="social-link"><i class="fa-brands fa-tiktok"></i></a>            
  


        </div>
      </div> 
    </div>
    <div class="copyright" style="text-align: center; margin-top: 5px;">Copyright WSDOT &copy;
      2023</div>
  </footer>
   
    <!-- ### End footer ### -->  