<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="all" href="/css/styles3.css" />
  <link rel="stylesheet" media="all" href="/css/stylesheet-override2.css" />

</head>
<body>
  
<header id="header" style="width: 100vw">
    <div class="container-fluid header-container">
      <div class="row">
        <div class="col-md-4">
          <div class="headerflex">
            <a
              class="logo"
              href="https://wsdot.wa.gov/"
              title="Home"
              rel="home"
              rel="noreferrer"
            >
              <img
                src="https://sr520construction.blob.core.windows.net/520-uploads/wsdot-logo-white.svg"
                alt="Home"
                loading="lazy"
                style="float: left; position: sticky; text-decoration: none"
              />
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="container3">
            <ul class="topnav2" style="float: right">
              <li class="nodec" style="font-weight: 600; font-size: 16px">
                <a
                  class="nodec"
                  href="https://wsdot.wa.gov/construction-planning/major-projects/sr-520-bridge-replacement-and-hov-program"
                  >SR 520 Program</a
                >&nbsp;&nbsp;&nbsp;&nbsp;
              </li>
              <li class="nodec" style="font-weight: 600; font-size: 16px">
                <a class="nodec" href="https://www.wsdot.wa.gov/news/">News</a
                >&nbsp;&nbsp;&nbsp;&nbsp;
              </li>
              <li class="nodec" style="font-weight: 600; font-size: 16px">
                <a class="nodec" href="https://www.wsdot.wa.gov/goodtogo/"
                  ><em>Good To Go!</em></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="navwrap">
    <div
      class="container-fluid nav-container"
      style="z-index: 1100; width: 100%"
    >
      <a href="/">
        <img
          class="navicon"
          src="https://sr520construction.blob.core.windows.net/520-uploads/sr520.png"
          style="padding-bottom: 12px; padding-left: 12px"
        />
      </a>

      <div
        class="navbar navbar navbar-expand-md navbar-light bg-none"
        style="background-color: transparent; float: center"
        id="navbar"
        role="nav"
      >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="margin-top: 25px; background-color: #97d700; color: #fff"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="menu2 nav" id="nav2">
            <li>
              <a
                class="nav-rhombus"
                style="font-style: normal"
                href="/"
                >Construction Map</a
              >
            </li>
            <li>
              <a class="nav-rhombus" href="program">Program</a>
            </li>
            <li class="dropdown">
              <a
                class="nav-rhombus dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                >Construction Projects</a
              >
              <ul class="dropdown-menu">
                <li><a class="nav-rhombus" href="/montlake-project">Montlake</a></li>
                <li><a class="nav-rhombus" href="/i5-connection-project">I-5 Connection</a></li>
                <li><a class="nav-rhombus" href="/portage-bay-project">Portage Bay</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-rhombus" href="/contact">Contact Us</a>
            </li>
            <li>
              <a class="nav-rhombus" href="/events">Outreach & Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- #### END NAV section ##### --> 
</body>
</html>