<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="all" href="/css/styles3.css" />
  <link rel="stylesheet" media="all" href="/css/stylesheet-override2.css" />

<style>

  .vanishing520 {
    display: none;
  }

  @media (max-width: 635px) {
    .container4 {
        width: 100% !important;
        overflow: hidden;
    }
   .alert-header {
    font-size: 1.7rem !important;
    line-height: 2.2rem !important;
   }

  /* #wholecontain .container-fluid .mapcontainer {
    min-width: 95vw;
    max-width: 96vw !important;
    width: 100% !important;
    margin: none !important;
    padding: none !important;
    overflow: hidden !important;
   } */

   .parallelogram-link.map-tab {
        padding: 8px 12px;       /* Reduced padding for smaller size */
        font-size: 1em;        /* Reduce font size a bit if necessary */
        margin-top: 8px;
        margin-left: 12px;        /* Adjust margins as needed */
    }
    .navicon {
        display: flex;
        min-height: 26% !important;
        max-height: 25% !important;
        max-width: 25%;
        margin-left: 8% !important;
        /* display: none !important; */
    }

    @media (max-width: 635px) {
        .navicon {
            margin-top: 15px !important;
            margin-left: 0px !important;
        }
    }
 .vanishing520  {
        display: inline-block;
  font-size: 1.4em; font-weight: 600; color: #000;
    }

    #vanishing520 {
      display: inline-block;
      font-size: 2.4rem !important;
      line-height: 2.5rem;
        min-width: 90vw;
      margin-left: 8%;
      /* margin-top: -220px !important; */
      z-index: 2000;
    }
}
</style>

</head>
<body>
  
<header id="header" style="width: 100vw">
    <div class="container-fluid header-container">
      <div class="row">
   
        <div class="col-md-4">
          <div class="headerflex">
           
            <a
              class="logo"
              href="https://wsdot.wa.gov/"
              title="Home"
              rel="home"
              rel="noreferrer"
            >
              <img class="img-fluid"               
                src="https://sr520construction.blob.core.windows.net/520-uploads/wsdot-logo-white.svg"
                alt="Home"
                loading="lazy"
               
              />
            </a>
          </div>
         
        </div>

        <div class="col-md-8">
      
          <div class="container3">
         
            <ul class="topnav2" style="float: right">
              <li class="nodec" style="font-weight: 600; font-size: 16px">
                <a
                  class="nodec"
                  href="https://wsdot.wa.gov/construction-planning/major-projects/sr-520-bridge-replacement-and-hov-program"
                  >SR 520 Program</a
                >&nbsp;&nbsp;&nbsp;&nbsp;
              </li>
              <li class="nodec" style="font-weight: 600; font-size: 16px">
                <a class="nodec" href="https://www.wsdot.wa.gov/news/">News</a
                >&nbsp;&nbsp;&nbsp;&nbsp;
              </li>
              <li class="nodec" style="font-weight: 600; font-size: 16px">
                <a class="nodec" href="https://www.wsdot.wa.gov/goodtogo/"
                  ><em>Good To Go!</em></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="navwrap">
 
    <div
      class="container-fluid nav-container"
      style="z-index: 1100; width: 100%"
    >


      <a href="/">
        <img
          class="navicon"
          src="/img/520-logo.png"
          alt="State Route 520 logo"
        />
      </a>
  
      <div
        class="navbar navbar navbar-expand-md navbar-light bg-none"
        style="background-color: transparent; float: center"
        id="navbar"
        role="nav"
      >
 
        <!-- <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="margin-top: 25px; background-color: #97d700; color: #fff"
        >
          <span class="btn filter-toggle__button collapsed"></span>
        </button> -->

        <button class="navbar-toggler btn filter-toggle__button collapsed" 
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="menu2 nav" id="nav2">
            <li>
              <a
                class="nav-rhombus"
                style="font-style: normal"
                href="/"
                >Construction Map</a
              >
            </li>
            <li>
              <a class="nav-rhombus" href="/program">Program</a>
            </li>
            <li class="dropdown">
              <a
                class="nav-rhombus dropdown-toggle"
                data-toggle="dropdown"
                href="/"
                >Construction Projects</a
              >
              <ul class="dropdown-menu">
                <li><a class="nav-rhombus" href="/montlake-project">Montlake</a></li>
                <li><a class="nav-rhombus" href="/i5-connection-project">I-5 Connection</a></li>
                <li><a class="nav-rhombus" href="/portage-bay-project">Portage Bay</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-rhombus" href="/contact">Contact Us</a>
            </li>
            <li>
              <a class="nav-rhombus" href="/events">Outreach & Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  

  </div>

  <!-- #### END NAV section ##### --> 
</body>
</html>