        <!-- NEW container for cards start  -->
        
        <div class="container-3card" style="width: 100vw; margin-top: 60px;">

            <!-- #### START second row container ###### -->
            <div class="container">
             <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap; padding-top: 20px; padding-bottom: 20px; ">
              <div class="col-lg-4 col-md-8 col-sm-10 center" style="justify-content: space-between;">   
             <!-- Card 1 start  -->
                <div class="card h-100 mb-3 center" style="min-height: 550px; min-width: 325px; border-radius: 10px;">
                 <div class="card-body" style="min-height: 550px; padding-top: 20px;">   <a class="twitter-timeline" data-height="450" href="https://twitter.com/wsdot_520?ref_src=twsrc%5Etfw">Tweets by wsdot_520</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>     
                    <div class="card-text center" style="float:center; align-items: center; justify-content: center;"> 
                      <div class="card-btn-container" style="display: flex; flex-wrap: wrap; float: bottom; margin-top: 1em; align-items: center; justify-content: center;">
                    <a href="https://twitter.com/wsdot_520" class="btn btn-primary parallelogram-link-sm"><span
                      class="fab fa-twitter">&nbsp;&nbsp;</span>Follow us</a>
                      </div>
                    </div>
                    </div>  
                </div> 
                <!-- Card 1end  -->
              </div>
          <div class="col-lg-4 col-md-8 col-sm-10 center">
              <!-- Card 2 start  -->
              <div class="card h-100 center" style="min-height: 550px; border-radius: 10px;">
                <div style="padding-top: 20px; padding-left: 30px; padding-right: 10px; width: 95%;">
                <iframe src="https://public.earthcam.net/tJ90CoLmq7TzrY396Yd88B9B2qPMb6E316d3h59C-OM!/sr_520__-_montlake_project/camera_1/view_1" width="100%"style="height: 400px; border-radius: 3px; border: 12px #fff;"></iframe>
              </div><br>
                <div class="card-body center">

                  <div class="card-btn-container" style="display: flex; flex-wrap: wrap; float: bottom; margin-top: 1em; align-items: center; justify-content: center;">
                      <a style="margin-top: 0px;" href="https://public.earthcam.net/tJ90CoLmq7TzrY396Yd88B9B2qPMb6E316d3h59C-OM!/sr_520__-_montlake_project/camera_1/view_1" class="btn btn-primary parallelogram-link-sm">Live construction cams</a>
                      </div>
                </div>
            </div>
              <!-- Card 2 end  -->
          </div>
          <div class="col-lg-4 col-md-8 col-sm-10 center">
              
           <div class="card h-100" style="min-height: 550px; min-width: 320px; border-radius: 10px;">
             <!-- <div class="card-body" style="padding-left: 25px; padding-right: 5px; margin-top: -20px;"> -->
               <div class="card-body center" style="box-sizing: border-box;
               color:  #212529;
               flex: 1 1 auto;
               font-family: Lato, sans-serif;
               font-size: 15px;
               line-height: 24px;
               min-height: 555px;
               padding: 1.25rem;
               padding-top: 20px;
               text-align: center;
               word-wrap: break-word;
               border-radius: 15px; margin-left: 20px; margin-right: 20px;">
             <div class="pl-2 pr-2 ml-3 mr-3">
             <h3 style="color: #007b5f; font-size: 1.4em;">Sign up for email updates</h3>
             <div class="containernew">
             <p>Get weekly updates about current and upcoming construction activities straight to your inbox.                             
               </p>
               <div class="icon-container">
                 <i style="color: #007b5f;  font-size: 65px" class="fa icon-lg fa-envelope"></i>
               </div><p></p>
                 <p>
                   <em>Read our latest <a target="_blank" href="https://content.govdelivery.com/accounts/WADOT/bulletins/3801691">Rest of the West News</a>.</em>
                 </p>
                 <p class="card-subtext" style="font-size: 15px;">
                   To sign up for one of both of our email newsletters, 
                   click the buttons below and enter your email address. 
                   You can 
                   <a href="https://public.govdelivery.com/accounts/WADOT/subscriber/new">
                     access your subscription preferences</a> at any time.
                 </p>
              </div>
                 <div class="card-btn-container" style="display: flex; flex-wrap: wrap; float: bottom; margin-top: 1em; align-items: center; justify-content: center; padding-bottom: 10px;">
                   <a href="https://public.govdelivery.com/accounts/WADOT/subscriber/new?topic_id=WADOT_376" class="btn btn-primary parallelogram-link-sm mt-2">Rest of the West News sign-up</a><p></p><br>
                   <a href="https://public.govdelivery.com/accounts/WADOT/subscriber/new?topic_id=WADOT_68" class="btn btn-primary parallelogram-link-sm mt-3">Program News sign-up</a>
                 </div>
               </div>
             </div>
           </div>
             </div>
           </div>
           </div>
                 </div>     
                 