<style>
    .container {
      max-width: 1100px;
    }
    .center {
      text-align: center;
    }
  </style>
  
  <!-- NEW container for cards start  -->
  

<div class="sidebar-cards row justify-content-center row-cols-sm-1 row-cols-md-2 row-cols-xl-1 px-5 px-lg-0">
    
            <div
              class="col pl-lg-0 ml-lg-0"
            >
              <!-- Card 1 start  -->
              <div
                class="card h-100 mb-3 center mx-auto"
                style="margin-bottom: 20px !important"
              >
                <div class="card-body" style="min-height: 555px; padding-top: 20px;">
                  <div>
                    <a
                      class="twitter-timeline"
                      data-height="450"
                      href="https://twitter.com/wsdot_520?ref_src=twsrc%5Etfw"
                      >Tweets by wsdot_520</a
                    >
                    <script
                      async
                      src="https://platform.twitter.com/widgets.js"
                      charset="utf-8"
                    ></script>
                  </div>
                    <div class="card-text" style="float: bottom">
                    <a
                      href="https://twitter.com/wsdot_520"
                      class="btn btn-primary parallelogram-link-sm"
                      ><span class="fab fa-twitter">&nbsp;&nbsp;</span>Follow us</a
                    >
                  </div>
                </div>
              </div>
              <!-- Card 1end  -->
            </div>
            <div class="col pl-lg-0 ml-lg-0">
              <!-- Card 2 start  -->
              <div
                class="card h-100 center mx-auto"
              >
                <div
                  style="
                    padding-top: 20px;
                    padding-left: 30px;
                    padding-right: 10px;
                    width: 95%;
                  "
                >
                  <iframe
                    src="https://public.earthcam.net/tJ90CoLmq7TzrY396Yd88B9B2qPMb6E316d3h59C-OM!/sr_520__-_montlake_project/camera_1/view_1"
                    width="100%"
                    style="height: 400px; border-radius: 3px; border: 12px #fff"
                  ></iframe>
                </div>
                <br />
                <div class="card-body center">
                  <a
                    style="margin-top: 0px"
                    href="https://public.earthcam.net/tJ90CoLmq7TzrY396Yd88B9B2qPMb6E316d3h59C-OM!/sr_520__-_montlake_project/camera_1/view_1"
                    class="btn btn-primary parallelogram-link-sm"
                    >Live construction cams</a
                  >
                </div>
              </div>
              <!-- Card 2 end  -->
            </div>
            <div class="col pl-lg-0 ml-lg-0">
              <div
                class="card h-100 center mx-auto"
              >
                <div class="card-body center">
                  <div class="pl-2 pr-2 ml-3 mr-3">
                    <h3 style="color: #007b5f; font-size: 1.4em">
                      Sign up for email updates
                    </h3>
                    <div class="containernew">
                      <p>
                        Get weekly updates about current and upcoming construction
                        activities straight to your inbox.
                      </p>
                      <div class="icon-container">
                        <i
                          style="color: #007b5f; font-size: 65px"
                          class="fa icon-lg fa-envelope"
                        ></i>
                      </div>
                      <p></p>
                
                      <p class="card-subtext" style="font-size: 15px">
                        To sign up for one of both of our email newsletters, click the
                        buttons below and enter your email address. You can
                        <a
                          href="https://public.govdelivery.com/accounts/WADOT/subscriber/new"
                        >
                          access your subscription preferences</a>
                        at any time.
                      </p>
                    </div>
                    <div
                      class="card-btn-container"
                      style="
                        display: flex;
                        flex-wrap: wrap;
                        float: bottom;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                             <!-- This is the bit that renders the newsletter link from the form in the dashboard ... -->
                <% if (newsletterLink) { %>
                  <div class="newsletter-section">
                    Read our latest <a href="<%= newsletterLink %>" target="_blank">Rest of the West News</a>                 
                  </div>
              <% } else { %>
                  <p> </p>
              <% } %>
                      <p></p>
                      <br />
                      <a
                        href="https://public.govdelivery.com/accounts/WADOT/subscriber/new?topic_id=WADOT_68"
                        class="btn btn-primary parallelogram-link-sm mt-3"
                        >Program News sign-up</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
    
</div>