<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4VJ7RQS01"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-D4VJ7RQS01');
  </script>

<meta charset="utf-8" />
<link rel="canonical" href="#" />
  <meta name="description"
    content="View current major projects, which are investments we make with local partners to address safety, congestion, mobility for all users and/or fish passage responsibilities." />

  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="icon" href="favicon.ico" /> -->
  <link rel="icon" href="img/dot.ico" type="image/vnd.microsoft.icon" />
  <!-- <script src="/sites/default/files/google_tag/gtm_kjkscvk/google_tag.script.js?rtoq0t" defer></script> -->

  <title>SR 520 Construction | WSDOT</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    type="text/css" />

  <link rel="stylesheet" media="all" href="/css/styles1.css" />
  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <link rel="stylesheet" media="all" href="/css/styles2.css" />
  <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" />
  <link rel="stylesheet" media="all" href="/css/styles3.css" />
  <link rel="stylesheet" media="all" href="/css/stylesheet-override.css" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" />

  <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css" /> -->
  <!-- <link rel="stylesheet" media="all"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
  <script src="/Scripts/jquery-min.js"></script> -->
  <!-- <script src="https://use.fontawesome.com/ee1c3da296.js"></script> -->
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
  <script src="https://kit.fontawesome.com/da8d22a218.js" crossorigin="anonymous"></script>
  <!-- leaftlet css js -->


<style>
 .navbar a {
  text-decoration: none !important;
 }
</style>
</head>

  <body>

    <%- include('partials/header') %>
  

    <!-- #### END NAV section ##### --> 
        <main>
            <div class="container4" style="padding-left: 5%; padding-right: 5%; margin-top: 20px; margin-bottom: 20px;"> 
        
               <div class="container-fluid">
                  <div class="row"> 
                    <div class="blockhead col-lg-9 col-md-12 col-sm-12" style="display: block;">
                        <div class="pl-sm-4 pl-lg-3">
                            
                            <h1 class="wdot-dkgreen">SR 520 fully closed across Lake Washington 8/25 - 8/28; SR 520 Trail open</h1>                            </h1>
                            <div class="border-bottom border-success"></div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid">
                    <div class="row">     
                        <div class="col-lg-9 col-sm-12">
                          <div class="row pl-sm-4 pl-lg-3 pt-5">
                            <div class="col-lg-9 col-sm-12">
                              <p><strong>Date:</strong> 8/25/2023 to 8/28/2023</p>
                              <p><strong>Time:</strong> 11:00 p.m. to 5:00 a.m.</p>
                              <!-- <div class="row">
                                <i class="fa-solid fa-circle-check fa-2xl pt-4 pl-4" style="color: #007b5f;"></i>
                                <p class="pl-3 wdot-dkgreen"><strong>Around-the-clock</strong></p>
                              </div> -->
                              <p><strong>Activity type: </strong>Highway Closures</p>
                              <p><strong>Activity description: </strong>Crews are building the connection to the new eastbound bridge. SR 520 will be closed in both directions across Lake Washington from 11 p.m. Friday, August 11, until 5 a.m. Monday, August 14. Westbound SR 520 will close between 92nd Avenue Northeast in Clyde Hill and I-5 in Seattle. Eastbound SR 520 will close between Montlake Boulevard in Seattle and 92nd Avenue Northeast in Clyde Hill. The SR 520 Trail will remain open. </p>
                              <p>Traffic: SR 520 will be closed in both directions across Lake Washington from 11 p.m. Friday, August 25, until 5 a.m. Monday, August 28. Westbound SR 520 will close between 92nd Avenue Northeast in Clyde Hill and I-5 in Seattle. Eastbound SR 520 will close between Montlake Boulevard in Seattle and 92nd Avenue Northeast in Clyde Hill. The SR 520 Trail will remain open.</p>
                            </div>
                            <!-- <div class="col-lg-7 col-sm-12">
                              <div class="text-lg-right text-md-start">
                                <img src="/img/" alt="" loading="lazy">
                              </div>
                            </div> -->
                          </div>
                            <div class="pl-sm-4 pl-lg-3">
                              <p></p>
                              <img src="/img/lakewaaug14.png" alt="Map of consutrction on lake washington" class="greenborder" loading="lazy">
                                <p class="pt-5"><strong>Contact Info:</strong></p>
                                <p><strong>Email:</strong> <a href="mailto:sr520bridge@wsdot.wa.gov">sr520bridge@wsdot.wa.gov</a> <br><strong>24-hour construction hotline:</strong> 206-775-8885</p>
                                <p><em>Note: This tool is presented for planning purposes only. Construction is inherently dependent on weather and other factors, and activities are subject to change.</em></p>
                                
                            </div>
                        </div>
                                                <div class="col-lg-3 vanishing">
                          <!-- Card 1 -->
                          <div class="left2">
                     
                            <p class="text-center wdot-dkgreen"><strong>Current and upcoming closures</strong></p>
                            <%- include('partials/closures') %>
                              
                              <br>
                        </div>
                                        
                          </div>
                    </div>
                </div>
                      <br>
                  </div>
                </div>   
                </div>
                </div>
        
         
            </div>
        </div>
        
        
        
          </div>
        </div>

        </main>
  



<!-- ## Start footer ###  -->
<footer class="footer">
  <div class="container">
    <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap;">
      <div class="col-md-3">
        <div class="logo-container" style="margin-bottom: 12px; display: block; width: 267px; height: 43px; margin-right: 14px;">
          <img class="foot-logo" src="/Content/images/wsdot-logo-white.png" alt="WSDOT logo" width="267px" height="43px" />
        </div>
      </div>

      <div class="col-md-2">
        <ul class="footerrow">
          <li><a href="contact">Contact</a></li>
          <li><a href="https://wsdot.wa.gov/about/americans-disabilities-act-ada">Accessibility</a></li>
          <li><a href="https://wsdot.wa.gov/about/title-vi-limited-english-proficiency">Title VI</a></li>
 
        </ul>
   </div><div class="col-md-6">
        <div class="social-row" style="margin-top: 18px;">
  
          <a href="https://www.facebook.com/wsdot" target="_blank" class="social-link"><i class="fa-brands fa-facebook" style="text-decoration: none;"></i> </a>

          <a href="https://twitter.com/wsdot_520" target="_blank" class="social-link"><i class="fab fa-twitter"></i> </a>

          <a href="https://www.instagram.com/wsdot/" target="_blank" class="social-link"><i class="fab fa-instagram"></i> </a>

          <a href="https://www.youtube.com/playlist?list=PLEvVhy_eoUuDlR31tXgXNYbNKFhZ5k0p_" target="_blank" class="social-link"><i class="fab fa-youtube"></i></a>

          <a href="https://www.flickr.com/photos/wsdot/collections/72157626070884650/" target="_blank" class="social-link"><i class="fab fa-flickr"></i></a>            </ul>
 
      </div>
    </div> 
  </div>
  <div class="copyright" style="text-align: center; margin-top: 5px;">Copyright WSDOT &copy;
    2023</div>
</footer>
 

<!-- ### End footer ### -->  

<script src="/Scripts/script1.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
  integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script> -->
<script src="/Scripts/script2.js"></script>
<!-- <script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script> -->
<script src="/Scripts/script3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script
  type="text/javascript">window.NREUM || (NREUM = {}); NREUM.info = {"beacon": "bam.nr-data.net", "licenseKey": "NRJS-a8107692ea83444c1a2", "applicationID": "858811128", "transactionName": "NVQHN0UEXhJUBkxQWgweJABDDF8PGiFKTEUDXTkNWAFVPXYKVk1HDV0JBkU5fg5RAG5QUBVyCg1DF18NWQBKFAsUWAAU", "queueTime": 0, "applicationTime": 477, "atts": "GRMEQQ0eTRw=", "errorBeacon": "bam.nr-data.net", "agent": ""}</script>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
  
  <!-- Code injected by live-server -->
  <script>
      // <![CDATA[  <-- For SVG support
      if ('WebSocket' in window) {
          (function () {
              function refreshCSS() {
                  var sheets = [].slice.call(document.getElementsByTagName("link"));
                  var head = document.getElementsByTagName("head")[0];
                  for (var i = 0; i < sheets.length; ++i) {
                      var elem = sheets[i];
                      var parent = elem.parentElement || head;
                      parent.removeChild(elem);
                      var rel = elem.rel;
                      if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                          var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                          elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                      }
                      parent.appendChild(elem);
                  }
              }
              var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
              var address = protocol + window.location.host + window.location.pathname + '/ws';
              var socket = new WebSocket(address);
              socket.onmessage = function (msg) {
                  if (msg.data == 'reload') window.location.reload();
                  else if (msg.data == 'refreshcss') refreshCSS();
              };
              if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                  console.log('Live reload enabled.');
                  sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
              }
          })();
      }
      else {
          console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
      }
      // ]]>
  </script>
  </body>
  
  </html>