<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-970887-21"></script>
  <script>window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments)}; gtag("js", new Date()); gtag("set", "developer_id.dMDhkMT", true); gtag("config", "UA-970887-21", {"groups": "default", "anonymize_ip": true, "page_placeholder": "PLACEHOLDER_page_path"});</script>
  <link rel="canonical" href="#" />
  <meta name="description"
    content="View current major projects, which are investments we make with local partners to address safety, congestion, mobility for all users and/or fish passage responsibilities." />

  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="favicon.ico" />
  <!-- <link rel="icon" href="img/dot.ico" type="image/vnd.microsoft.icon" /> -->
  <!-- <script src="/sites/default/files/google_tag/gtm_kjkscvk/google_tag.script.js?rtoq0t" defer></script> -->

  <title>SR 520 Construction | I-5 Connection </title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    type="text/css" />

  <!-- <link rel="stylesheet" media="all" href="/css/styles1.css" /> -->
  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <link rel="stylesheet" media="all" href="/css/styles2.css" />
  <!-- <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" />
  <link rel="stylesheet" media="all" href="/css/styles3.css" /> -->
  <link rel="stylesheet" media="all" href="/css/stylesheet-override2.css" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" />
  <!-- <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&amp;display=swap" />
  <link rel="stylesheet" media="all" -->
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" />

  <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css" /> -->
  <!-- <link rel="stylesheet" media="all"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
  <script src="/Scripts/jquery-min.js"></script> -->
  <!-- <script src="https://use.fontawesome.com/ee1c3da296.js"></script> -->
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
  <script src="https://kit.fontawesome.com/da8d22a218.js" crossorigin="anonymous"></script>
  <!-- leaftlet css js -->
 
  <link rel="stylesheet" href="https://kit.fontawesome.com/56475f5c73.css" crossorigin="anonymous">

<style>
 .navbar a {
  text-decoration: none !important;
 }
</style>
</head>

  <body>
    <%- include('partials/header') %>

    <!-- #### END NAV section ##### --> 
          <main>



            <div class="container4" style="margin-top: 20px; margin-bottom: 20px; margin-left: 1.5%">
              <h1 class="wdot-dkgreen pl-sm-4 pl-lg-0">SR 520/I-5 Express Lanes Connection Project</h1>
             
                    <img src="img/i5-header.png" class="heroimage"  loading="lazy" alt="Aerial view of I-5 and SR 520 construction" style="width: 100vw">
              
                    <p></p>
                    <p></p>
                    <p>The SR 520/I-5 Express Lanes Connection Project will create a dedicated reversible transit and carpool connection between SR 520 and the I-5 Express Lanes, along with a reversible transit/carpool ramp at the I-5/Mercer Street interchange.</p>
                    <p><strong>For more information about the program, <a href="https://wsdot.wa.gov/construction-planning/major-projects/sr-520-bridge-replacement-and-hov-program">visit our official SR 520 webpage</a>.</strong></p>
                    <div class="togglerow pb-5" style="justify-content: space-between;"> 
                      <a id="map1Button" class="btn primary parallelogram-link" href="https://wsdot.wa.gov/construction-planning/search-projects/sr-520-i-5-express-lanes-connection-project">I-5 Connection Project  webpage</a>
                    </div>   
              </div>

<!--       
                <div class="container4" style="margin-top: 20px; margin-bottom: 20px; margin-left: 1.5%">
      
                    <h1 class="wdot-dkgreen pl-sm-4 pl-lg-0">SR 520/I-5 Express Lanes Connection Project</h1>
                    <div>
                        <img src="img/I-5 Page.png"  class="heroimage" alt="aerial photo of I-5 construction">
                    </div>
                          <p></p>
                          <p></p>
                          <p>The SR 520/I-5 Express Lanes Connection Project will create a dedicated reversible transit and carpool connection between SR 520 and the I-5 Express Lanes, along with a reversible transit/carpool ramp at the I-5/Mercer Street interchange.</p>
                          <p><strong>For more information about the program, <a href="https://wsdot.wa.gov/construction-planning/major-projects/sr-520-bridge-replacement-and-hov-program">visit our official SR 520 webpage</a>.</strong></p>
                          <div class="togglerow pb-5" style="justify-content: space-between;"> 
                            <a id="map1Button" class="btn primary parallelogram-link" href="https://wsdot.wa.gov/construction-planning/search-projects/sr-520-i-5-express-lanes-connection-project">I-5 Connection Project  webpage</a>
                          </div>                
                       
                    </div> -->
                  <div class="row">
                    <div class="col-xl-8">
      
                      <div style="background-color: #e8faf6; padding-left: 5%;">
                        <div class="container4">
                          <h2 class="pt-5 pb-5" style="font-weight: 500; color: #005151;"><strong>Project materials</strong></h2>
                          <div>
                            <div class="row">
                              <i class="fa-solid fa-traffic-cone fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-3">Community Construction Management Plan</h3>
                            </div>
                            <p class="pt-3 pb-5">Check out the [Montlake Project] Community Construction Management Plan (CCMP), which describes what neighbors can expect during construction, what construction best practices the contractor will follow, and how the contractor will avoid or reduce construction effects on neighborhood residences and historic properties. The CCMP gets updated throughout the project duration based on construction activities and public feedback.</p>
                          </div>
                          <div>
                            <div class="row">
                              <i class="fa-solid fa-tree-deciduous fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-3">Environmental</h3>
                            </div>
                          <p class="pt-2 pb-5">The Tree and Vegetation Management and Protection Plans (TVMPP) describes project-specific management practices to preserve, protect and avoid affecting trees and other vegetation within a project’s construction area. The plan identifies ways to limit effects on vegetation during construction and establishes an implementation plan to ensure best practices are followed.</p>
                          </div>
                          <div>
                            <div class="row">
                              <i class="fa-solid fa-volume fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-3">Noise</h3>
                            </div>
               <p class="pt-2"> We are committed to following noise regulations and using best practices to reduce noise generated by our construction. Daytime construction activities follow daytime noise limits set by the city of Seattle. However, some construction activities occur at night due to safety and traffic concerns. The city of Seattle grants a Major Public Project Noise Variance that sets limits for the allowable level of nighttime construction noise.</p>
                            <p class="pb-5">View the most recent <a href="<%= i5Url %>" target="_blank">I-5 construction noise monitoring report</a> (updated weekly)</p>
                          </div>
                          <div>
                            <div class="row">
                              <i class="fa-solid fa-car fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-4">Traffic</h3>
                            </div>
             <p class="pt-2 pb-5">The Neighborhood Traffic Management Plan (NTMP) outlines planned traffic management measures (both temporary and permanent) within a project’s construction area. The NTMP also outlines some of the management practices that will be used during construction to help reduce local traffic effects related to project construction.</p>
                          </div>
                          <div>
                            <div class="row">
                              <i class="fa-solid fa-waveform fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-4">Vibration</h3>
                            </div>
                            <p class="pt-2 pb-5">Our project contractors must submit and follow a vibration monitoring plan. The plan identifies how construction activities will be carried out to stay within a contract’s vibration limits. The plan also shows the locations of digital vibration monitors.
                            </p>
                          </div>
                          <div>
                            <div class="row">
                              <i class="fa-solid fa-message-dots fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-2">Other</h3>
                            </div>
                        <p class="pt-2 pb-5">We strive to the keep the public informed about our project construction activities and effects. We do this through regular public meetings, neighborhood FAQs, community events, and digital communications.  
                            </p>
                            
                          </div>
                      
                        </div>
                      </div>
                    </div>
   

   <!-- ###  CARD sidebar ### -->
   <div class="col-xl-4">
                        
    <%- include('partials/sidebar-cards') %>

  </div>

                  </div>
                </div>
              </div>



        </main>
  
<section class="flickr-area">

<div class="container"> 
<div class="flickr-container">
  <p></p>  <p></p>
  <h2 class="flickr-header">Construction photos</h2>
  <div class="flickr-carousel">
    <a data-flickr-embed="true" data-footer="true" href="https://www.flickr.com/photos/wsdot/albums/72157720017909938" title="SR 520 - I-5 Express Lanes Connection Project" target="_blank"><img src="https://live.staticflickr.com/65535/52767273969_681f18ac00.jpg" width="1400px" height="100%;" alt="SR 520 - I-5 Express Lanes Connection Project"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  </div>
  <p></p>
  <p></p>
  <p></p>
</div>
</div>
</section>


<!-- ###  FOOTER ###  -->

<%- include('partials/footer') %>


<!-- <script src="/Scripts/script1.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
  integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script> -->
<!-- <script src="/Scripts/script2.js"></script> -->
<!-- <script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script> -->
<script src="/Scripts/script3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script
  type="text/javascript">window.NREUM || (NREUM = {}); NREUM.info = {"beacon": "bam.nr-data.net", "licenseKey": "NRJS-a8107692ea83444c1a2", "applicationID": "858811128", "transactionName": "NVQHN0UEXhJUBkxQWgweJABDDF8PGiFKTEUDXTkNWAFVPXYKVk1HDV0JBkU5fg5RAG5QUBVyCg1DF18NWQBKFAsUWAAU", "queueTime": 0, "applicationTime": 477, "atts": "GRMEQQ0eTRw=", "errorBeacon": "bam.nr-data.net", "agent": ""}</script>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
  
  <!-- Code injected by live-server -->
  <script>
      // <![CDATA[  <-- For SVG support
      if ('WebSocket' in window) {
          (function () {
              function refreshCSS() {
                  var sheets = [].slice.call(document.getElementsByTagName("link"));
                  var head = document.getElementsByTagName("head")[0];
                  for (var i = 0; i < sheets.length; ++i) {
                      var elem = sheets[i];
                      var parent = elem.parentElement || head;
                      parent.removeChild(elem);
                      var rel = elem.rel;
                      if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                          var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                          elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                      }
                      parent.appendChild(elem);
                  }
              }
              var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
              var address = protocol + window.location.host + window.location.pathname + '/ws';
              var socket = new WebSocket(address);
              socket.onmessage = function (msg) {
                  if (msg.data == 'reload') window.location.reload();
                  else if (msg.data == 'refreshcss') refreshCSS();
              };
              if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                  console.log('Live reload enabled.');
                  sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
              }
          })();
      }
      else {
          console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
      }
      // ]]>
  </script>
  </body>
  
  </html>