<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-970887-21"></script>
  <script>window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments)}; gtag("js", new Date()); gtag("set", "developer_id.dMDhkMT", true); gtag("config", "UA-970887-21", {"groups": "default", "anonymize_ip": true, "page_placeholder": "PLACEHOLDER_page_path"});</script>
  <link rel="canonical" href="#" />
  <meta name="description"
    content="View current major projects, which are investments we make with local partners to address safety, congestion, mobility for all users and/or fish passage responsibilities." />

  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="favicon.ico" />
  <!-- <link rel="icon" href="img/dot.ico" type="image/vnd.microsoft.icon" /> -->
  <!-- <script src="/sites/default/files/google_tag/gtm_kjkscvk/google_tag.script.js?rtoq0t" defer></script> -->

  <title>SR 520 Construction | I-5 Connection </title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    type="text/css" />

  <!-- <link rel="stylesheet" media="all" href="/css/styles1.css" /> -->
  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <link rel="stylesheet" media="all" href="/css/styles2.css" />
  <!-- <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" />
  <link rel="stylesheet" media="all" href="/css/styles3.css" /> -->
  <link rel="stylesheet" media="all" href="/css/stylesheet-override2.css" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" />
  <!-- <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&amp;display=swap" />
  <link rel="stylesheet" media="all" -->
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" />

  <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css" /> -->
  <!-- <link rel="stylesheet" media="all"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
  <script src="/Scripts/jquery-min.js"></script> -->
  <!-- <script src="https://use.fontawesome.com/ee1c3da296.js"></script> -->
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
  <script src="https://kit.fontawesome.com/da8d22a218.js" crossorigin="anonymous"></script>
  <!-- leaftlet css js -->
 
  <link rel="stylesheet" href="https://kit.fontawesome.com/56475f5c73.css" crossorigin="anonymous">

<style>
 .navbar a {
  text-decoration: none !important;
 }
 ul, ul li {
  font-size: 1.8rem;
 }
</style>
</head>

  <body>
    <%- include('partials/header') %>

    <!-- #### END NAV section ##### --> 
          <main>



            <div class="container4" style="margin-top: 20px; margin-bottom: 20px; margin-left: 1.5%">
              <h1 class="wdot-dkgreen pl-sm-4 pl-lg-0">SR 520/I-5 Express Lanes Connection Project</h1>
             
                    <img src="img/i5-header.png" class="heroimage"  loading="lazy" alt="Aerial view of I-5 and SR 520 construction" style="width: 100vw">
              
                    <p></p>
                    <p></p>
                    <p>The SR 520/I-5 Express Lanes Connection Project will create a dedicated reversible transit and carpool connection between SR 520 and the I-5 Express Lanes, along with a reversible transit/carpool ramp at the I-5/Mercer Street interchange.</p>
                    <p><strong>For more information about the program, <a href="https://wsdot.wa.gov/construction-planning/major-projects/sr-520-bridge-replacement-and-hov-program">visit our official SR 520 webpage</a>.</strong></p>
                    <div class="togglerow pb-5" style="justify-content: space-between;"> 
                      <a id="map1Button" class="btn primary parallelogram-link" href="https://wsdot.wa.gov/construction-planning/search-projects/sr-520-i-5-express-lanes-connection-project">I-5 Connection Project  webpage</a>
                    </div>   
              </div>

<!--       
                <div class="container4" style="margin-top: 20px; margin-bottom: 20px; margin-left: 1.5%">
      
                    <h1 class="wdot-dkgreen pl-sm-4 pl-lg-0">SR 520/I-5 Express Lanes Connection Project</h1>
                    <div>
                        <img src="img/I-5 Page.png"  class="heroimage" alt="aerial photo of I-5 construction">
                    </div>
                          <p></p>
                          <p></p>
                          <p>The SR 520/I-5 Express Lanes Connection Project will create a dedicated reversible transit and carpool connection between SR 520 and the I-5 Express Lanes, along with a reversible transit/carpool ramp at the I-5/Mercer Street interchange.</p>
                          <p><strong>For more information about the program, <a href="https://wsdot.wa.gov/construction-planning/major-projects/sr-520-bridge-replacement-and-hov-program">visit our official SR 520 webpage</a>.</strong></p>
                          <div class="togglerow pb-5" style="justify-content: space-between;"> 
                            <a id="map1Button" class="btn primary parallelogram-link" href="https://wsdot.wa.gov/construction-planning/search-projects/sr-520-i-5-express-lanes-connection-project">I-5 Connection Project  webpage</a>
                          </div>                
                       
                    </div> -->
                  <div class="row">
                    <div class="col-xl-8">
      
                      <div style="background-color: #e8faf6; padding-left: 5%;">
                        <div class="container4">
                          <h2 class="pt-5 pb-5" style="font-weight: 500; color: #005151;"><strong>Project materials</strong></h2>
                          <div class="pb-5" >
                            <div class="row">
                              <i class="fa-solid fa-traffic-cone fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-3">Community Construction Management Plan</h3>
                            </div>
                            <p class="pt-3">Check out the <a href="/pdfs/i-5/Sr520-Plan-I5ConnectionProjectCommunityConstructionManagementPlan-1.pdf" target="_blank">Community Construction Management Plan (CCMP)</a>, which describes what neighbors can expect during construction, what construction best practices the contractor will follow, and how the contractor will avoid or reduce construction effects on neighborhood residences and historic properties. The CCMP gets updated throughout the project duration based on construction activities and public feedback.</p>
                          </div>
                          <div class="pb-5" >
                            <div class="row">
                              <i class="fa-solid fa-tree-deciduous fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-3">Environmental</h3>
                            </div>
                          <p class="pt-2">The <a href="/pdfs/i-5/Sr520-Plan-I5ConnectionProjectTreeAndVegetationManagementAndProtectionPlan-1.pdf" target="_blank">Tree and Vegetation Management and Protection Plan (TVMPP)</a> describes project-specific management practices to preserve, protect and avoid affecting trees and other vegetation within a project’s construction area. The plan identifies ways to limit effects on vegetation during construction and establishes an implementation plan to ensure best practices are followed.</p>
                          </div>
                          
                          <div class="pb-5" >
                            <div class="row">
                              <i class="fa-solid fa-volume fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-3">Noise</h3>
                            </div>
                            <p class="pt-2 sub-lead"><em>What to expect during construction</em></p>
                                            <p> During SR 520 construction, our contractors perform a variety of construction activities. Each activity uses different types of equipment and creates different levels of noise. Most construction activities occur during the day and follow the city of Seattle’s daytime noise regulations.</p>
                              <p>Some construction activities require nighttime work. Working on nights and weekends eases weekday traffic congestion, particularly when lane closures or detours are required. We always look for ways to reduce nighttime effects on the neighborhood, and we schedule noisy activities during the day whenever possible.</p>
                              <p>Nighttime construction activities on the SR 520/I-5 Express Lanes Connection Project are monitored and controlled under a Major Public Projects Construction Noise Variance granted to WSDOT by the city of Seattle. The variance establishes the noise limits and regulations for nighttime construction work. Variances for nighttime work require specific notifications and restrict certain types of noisy activities. An independent noise specialist oversees noise monitoring and reports on compliance directly to the city. If noise exceedances occur, WSDOT works with its contractor and the city to determine the best course of action to mitigate the construction activity.</p>
                              <p>The city of Seattle granted WSDOT noise variance for SR 520/I-5 Project construction in November 2019. The variance establishes the noise limits and regulations for nighttime construction work during the project. Each week, we publish a report listing the latest nighttime noise data and any complaints received. You can request past noise reports by emailing sr520bridge@wsdot.wa.gov.</p>
                            <p class=" sub-lead"><em>Timing</em></p>
                              
                              <ul>
                                  <li>Crews may work 24 hours a day, seven days a week throughout construction.</li>
                                  <li>Typical work hours for the loudest (impact) work:</li>
                                  <ul>
                                      <li>7 a.m. to 10 p.m. weekdays</li>
                                      <li>9 a.m. to 10 p.m. weekends and holidays</li>
                                  </ul>
                              </ul>
                            <p class=" sub-lead"><em>Commitments</em></p>

                              <p>WSDOT and the contractor will meet all WSDOT, federal, state and local regulatory requirements, and any contract and permit requirements. The contractor will follow best management practices, WSDOT standard specifications, and local ordinances to minimize noise. Examples of noise mitigation strategies and best practices can be found in the I-5 Connection Project Community Construction Management Plan.</p>

                            <p class="pb-5"><a href="<%= i5Url %>" target="_blank">View the most recent I-5 construction noise monitoring report</a> (updated weekly).</p>
                          </div>

                          <div class="pb-5" >
                            <div class="row">
                              <i class="fa-solid fa-car fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-4">Traffic and transportation</h3>
                            </div>
                            <p class="pt-2 sub-lead"><em>What to expect during construction</em></p>
                            <p> SR 520 construction activities occasionally causes traffic and transportation disruptions due to adjustments in existing roadways, temporary closures, detours, and changes to pedestrian and bicycle access through the work area. Additionally, construction equipment and activities may occupy part of the roadway and construction truck traffic is present on the highways and local roads. The project requires some short-term closures of SR 520 and I-5, as well as nearby on- and off-ramps.</p>
                            <p class=" sub-lead"><em>Commitments</em></p>

                            <p>WSDOT requires the contractor to adhere to all WSDOT, federal, local and statewide regulatory requirements and/or other regulations as required by the contract. This includes WSDOT standard specifications and coordination with the city of Seattle. We direct the contractor to minimize short-term closures and limit necessary closures to non-peak traffic periods.</p>
                            <p>Because the SR 520/I-5 Connection project is expected to have limited effects on local streets, WSDOT and SDOT agreed that a Neighborhood Management Traffic Plan is not necessary for this project. Much of the work on the SR 520/I-5 Connection project will be completed from the I-5 express lanes while they are closed overnight, reducing conflicts with motorists.</p>
                        </div>
                          <div class="pb-5" >
                            <div class="row">
                              <i class="fa-solid fa-waveform fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-4">Vibration</h3>
                            </div>
                            <p class="pt-2 sub-lead"><em>What to expect during construction</em></p>
                                            <p> WSDOT is committed to minimizing activities that would result in noticeable vibrations, but some construction work unavoidably causes vibrations. Construction activities that may cause noticeable vibrations include pile driving, constructing drilled shaft foundations and demolishing existing structures.</p>
                                            <p class=" sub-lead"><em>Commitments</em></p>

                                            <p>WSDOT and the contractor will meet all WSDOT, federal, local and statewide regulatory requirements, and any contract and permit requirements. The SR 520/I-5 Connection project contractor developed a Fugitive Dust Prevention and Control Plan that provides additional details on activities to mitigate air-quality impacts during construction.</p>
              
                          </div>
                          <div class="pb-5" >
                            <div class="row">
                              <i class="fa-solid fa-waveform fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-4">Air quality and dust</h3>
                            </div>
                            <p class="pt-2 sub-lead"><em>What to expect during construction</em></p>
                                            <p> Certain construction activities may affect air quality near the work zone. Some of these activities include truck traffic, asphalt paving, earthmoving, and demolition.</p>
                                            <p class=" sub-lead"><em>Commitments</em></p>

                                            <p>WSDOT and the contractor will meet all WSDOT, federal, local and statewide regulatory requirements, and any contract and permit requirements. The SR 520/I-5 Connection project contractor developed a Fugitive Dust Prevention and Control Plan that provides additional details on activities to mitigate air-quality impacts during construction.</p>
              
                          </div>
                          <div class="pb-5" >
                            <div class="row">
                              <i class="fa-solid fa-waveform fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-4">Views, glare and lighting</h3>
                            </div>
                            <p class="pt-2 sub-lead"><em>What to expect during construction</em></p>
                                            <p> Construction on the SR 520/I-5 Connection project affects some views along I-5 between the SR 520 and Mercer Street interchanges. Some construction work occurs during the night and requires lighting to work safely. During the winter months (November through March), crews may need increased work-zone lighting at the beginning and end of the workday due to decreased daylight hours.</p>
                                            <p class=" sub-lead"><em>Commitments</em></p>

                                            <p>WSDOT and the contractor will adhere to all WSDOT, federal, local and statewide regulatory requirements and/or as required by the contract documents. This includes WSDOT standard specifications. Per our Section 106 Programmatic Agreement, we require the contractor to limit the use of construction lighting as much as possible and keep necessary lighting shielded, directed downward, and pointed away from residences and other sensitive areas to the maximum extent practicable.</p>
              
                          </div>

                          <div class="pb-5" >
                            <div class="row">
                              <i class="fa-solid fa-message-dots fa-5x ml-4" style="color: #FF6A13;"></i>
                              <h3 class="project-materials-heading-paddig pt-2">Other</h3>
                            </div>
                        <p class="pt-2">We strive to the keep the public informed about our project construction activities and effects. We do this through regular public meetings, neighborhood FAQs, community events, and digital communications.  
                            </p>
                            
                          </div>
                      
                        </div>
                      </div>
                    </div>
   

   <!-- ###  CARD sidebar ### -->
   <div class="col-xl-4">
                        
    <%- include('partials/sidebar-cards') %>

  </div>

                  </div>
                </div>
              </div>



        </main>
  
<section class="flickr-area">

<div class="container"> 
<div class="flickr-container">
  <p></p>  <p></p>
  <h2 class="flickr-header">Construction photos</h2>
  <div class="flickr-carousel">
    <a data-flickr-embed="true" data-footer="true" href="https://www.flickr.com/photos/wsdot/albums/72157720017909938" title="SR 520 - I-5 Express Lanes Connection Project" target="_blank"><img src="https://live.staticflickr.com/65535/52767273969_681f18ac00.jpg" width="1400px" height="100%;" alt="SR 520 - I-5 Express Lanes Connection Project"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  </div>
  <p></p>
  <p></p>
  <p></p>
</div>
</div>
</section>


<!-- ###  FOOTER ###  -->

<%- include('partials/footer') %>


<!-- <script src="/Scripts/script1.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
  integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script> -->
<!-- <script src="/Scripts/script2.js"></script> -->
<!-- <script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script> -->
<script src="/Scripts/script3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script
  type="text/javascript">window.NREUM || (NREUM = {}); NREUM.info = {"beacon": "bam.nr-data.net", "licenseKey": "NRJS-a8107692ea83444c1a2", "applicationID": "858811128", "transactionName": "NVQHN0UEXhJUBkxQWgweJABDDF8PGiFKTEUDXTkNWAFVPXYKVk1HDV0JBkU5fg5RAG5QUBVyCg1DF18NWQBKFAsUWAAU", "queueTime": 0, "applicationTime": 477, "atts": "GRMEQQ0eTRw=", "errorBeacon": "bam.nr-data.net", "agent": ""}</script>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
  
  <!-- Code injected by live-server -->
  <script>
      // <![CDATA[  <-- For SVG support
      if ('WebSocket' in window) {
          (function () {
              function refreshCSS() {
                  var sheets = [].slice.call(document.getElementsByTagName("link"));
                  var head = document.getElementsByTagName("head")[0];
                  for (var i = 0; i < sheets.length; ++i) {
                      var elem = sheets[i];
                      var parent = elem.parentElement || head;
                      parent.removeChild(elem);
                      var rel = elem.rel;
                      if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                          var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                          elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                      }
                      parent.appendChild(elem);
                  }
              }
              var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
              var address = protocol + window.location.host + window.location.pathname + '/ws';
              var socket = new WebSocket(address);
              socket.onmessage = function (msg) {
                  if (msg.data == 'reload') window.location.reload();
                  else if (msg.data == 'refreshcss') refreshCSS();
              };
              if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                  console.log('Live reload enabled.');
                  sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
              }
          })();
      }
      else {
          console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
      }
      // ]]>
  </script>
  </body>
  
  </html>