
<!-- this was originally a checkbox, and now it's text -- it was technically checking that string rather than a bool due to Mongo being type-agnostic -->

<label for="bannerContent" class="form-label selection-header">Banner content?</label>
<select class="form-control" id="bannerContent" name="bannerContent">
    <option value="yes">Yes</option>
    <option value="no">No</option>
</select>