<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>SR 520 Construction | Construction Entry Form </title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script> 
<link rel="stylesheet" media="all" href="/css/styles3.css" />
<link rel="stylesheet" media="all" href="/css/stylesheet-override2.css" />

    <!-- Leaflet and Leaflet.draw CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUt0Sdti_Aderhux8JNiFR-6ClvNIb7Gk" async defer></script>


 <!-- <script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "AIzaSyCUt0Sdti_Aderhux8JNiFR-6ClvNIb7Gk",
      v: "weekly"

    }); 
</script>  -->

<script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script> 
<style>
  label {
    font-weight: 500;
  }

  .selection-header {
    font-weight: 600; 
    margin-top: 1.5em;
  }

</style>
  </head>
  <body>
    <header id="header" style="width: 100vw">
        <div class="container-fluid header-container">
          <div class="row">
            <div class="col-md-4">
              <div class="headerflex">
                <a
                  class="logo"
                  href="https://wsdot.wa.gov/"
                  title="Home"
                  rel="home"
                  rel="noreferrer"
                >
                  <img
                    src="https://sr520construction.blob.core.windows.net/520-uploads/wsdot-logo-white.svg"
                    alt="Home"
                    loading="lazy"
                    style="float: left; position: sticky; text-decoration: none"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-8">
              <div class="container3">
                <ul class="topnav2" style="float: right">
                  <li class="nodec" style="font-weight: 600; font-size: 16px">
                    <a
                      class="nodec"
                      href="https://wsdot.wa.gov/construction-planning/major-projects/sr-520-bridge-replacement-and-hov-program"
                      >SR 520 Program</a
                    >&nbsp;&nbsp;&nbsp;&nbsp;
                  </li>
                  <li class="nodec" style="font-weight: 600; font-size: 16px">
                    <a class="nodec" href="https://www.wsdot.wa.gov/news/">News</a
                    >&nbsp;&nbsp;&nbsp;&nbsp;
                  </li>
                  <li class="nodec" style="font-weight: 600; font-size: 16px">
                    <a class="nodec" href="https://www.wsdot.wa.gov/goodtogo/"
                      ><em>Good To Go!</em></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
    <div class="container">

        <section class="form-area mt-5 ml-5 mr-5">
            <div class="blockhead navwrap" style="display: block; margin: 3%;"> 
                <h1 class="wdot-dkgreen" style="font-size: 42px; line-height: 50px; margin-top: 60px;">Hi 520 Construction Team!</h1>
                <p>This is where you can create a shiny new, artisianal construction event.</p>
                <p><strong></strong></p>
                <a href="/dashboard" style="display: inline-block; padding: 10px 20px; font-size: 20px; background-color: #007b5f; color: #ffffff; text-decoration: none; border-radius: 5px;">
                  Return to Dashboard
                </a>             
            </div>

  <form action="/api/projects" method="post" enctype="multipart/form-data" style="font-size: 1.2rem; margin-left: 7%; margin-right: 7%;" onsubmit="return handleSubmit()">
    <div class="mb-3">
        <label for="activityName" class="form-label selection-header">Construction Actvity Title</label>
        <input type="text" class="form-control" id="activityName" name="activityName">
    </div>

    <div class="mb-3">
        <label for="location" class="form-label selection-header">Location</label>
        <input type="text" class="form-control" id="location" name="location" placeholder="Address, cross streets, etc.">
    </div>

    <div class="mb-3">
        <label for="startDate" class="form-label selection-header">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="startDate">
    </div>

    <div class="mb-3">
        <label for="endDate" class="form-label selection-header">End Date</label>
        <input type="date" class="form-control" id="endDate" name="endDate">
    </div>

    <div class="mb-3">
        <label for="time" class="form-label selection-header">Time</label>
        <input type="text" class="form-control" id="time" name="time" placeholder="10:00 AM - 5:00 PM">
    </div>
        <!-- START checkbox features  -->
        
        <div class="mb-3" style="font-size: 18px;">
          <span class="selection-header">Activity Type</span>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Full highway closure" id="fullHighway"
              name="activityType[]"><label class="form-check-label" for="fullHighway">Full highway closure</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Partial highway closure"
              id="partialHighway" name="activityType[]"><label class="form-check-label" for="partialHighway">Partial highway
              closure</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Street and lane closures"
              id="streetClosure" name="activityType[]"><label class="form-check-label" for="streetClosure">Street and lane
              closures</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Trail closure" id="trailClosure"
              name="activityType[]"><label class="form-check-label" for="trailClosure">Trail closure</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Ramp closure" id="rampClosure"
              name="activityType[]"><label class="form-check-label" for="rampClosure">Ramp closure</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="High-impact construction"
              id="highImpact" name="activityType[]"><label class="form-check-label" for="highImpact">High-impact
              construction</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Cameras" id="cameras"
              name="activityType[]"><label class="form-check-label" for="cameras">Cameras</label></div>
        </div>
        <div class="mb-3" style="font-size: 18px;"><span class="selection-header">Impact Type</span>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Bike/pedestrian" id="bikePedestrian"
              name="impactType[]"><label class="form-check-label" for="bikePedestrian">Bike/pedestrian</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Light" id="light"
              name="impactType[]"><label class="form-check-label" for="light">Light</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Traffic" id="traffic"
              name="impactType[]"><label class="form-check-label" for="traffic">Traffic</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Dust" id="dust"
              name="impactType[]"><label class="form-check-label" for="dust">Dust</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Noise" id="noise"
              name="impactType[]"><label class="form-check-label" for="noise">Noise</label></div>
          <div class="form-check"><input class="form-check-input" type="checkbox" value="Vibration" id="vibration"
              name="impactType[]"><label class="form-check-label" for="vibration">Vibration</label></div>
        </div>
    
        <div class="mb-3 mt-4">
          <span class="selection-header mb-3">Timing Features</span>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Around-the-clock" id="aroundTheClock" name="timingFeatures[]">
              <label class="form-check-label" for="aroundTheClock">Around-the-clock</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Nighttime" id="nighttime" name="timingFeatures[]">
              <label class="form-check-label" for="nighttime">Nighttime</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Daytime" id="daytime" name="timingFeatures[]">
              <label class="form-check-label" for="daytime">Daytime</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Overnight" id="overnight" name="timingFeatures[]">
              <label class="form-check-label" for="overnight">Overnight</label>
          </div>
      </div>
    
            <!-- end checkbox features  -->

    <div class="mb-3" style="font-size: 18px;">
 <span class="selection-header">Activity Type</span><div class="form-check"><input class="form-check-input" type="checkbox" value="Full highway closure" id="fullHighway" name="activityType[]"><label class="form-check-label" for="fullHighway">Full highway closure</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="Partial highway closure" id="partialHighway" name="activityType[]"><label class="form-check-label" for="partialHighway">Partial highway closure</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="Street and lane closures" id="streetClosure" name="activityType[]"><label class="form-check-label" for="streetClosure">Street and lane closures</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="Trail closure" id="trailClosure" name="activityType[]"><label class="form-check-label" for="trailClosure">Trail closure</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="Ramp closure" id="rampClosure" name="activityType[]"><label class="form-check-label" for="rampClosure">Ramp closure</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="High-impact construction" id="highImpact" name="activityType[]"><label class="form-check-label" for="highImpact">High-impact construction</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="Cameras" id="cameras" name="activityType[]"><label class="form-check-label" for="cameras">Cameras</label></div></div><div class="mb-3" style="font-size: 18px;"><span class="selection-header">Impact Type</span><div class="form-check"><input class="form-check-input" type="checkbox" value="Bike/pedestrian" id="bikePedestrian" name="impactType[]"><label class="form-check-label" for="bikePedestrian">Bike/pedestrian</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="Light" id="light" name="impactType[]"><label class="form-check-label" for="light">Light</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="Traffic" id="traffic" name="impactType[]"><label class="form-check-label" for="traffic">Traffic</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="Dust" id="dust" name="impactType[]"><label class="form-check-label" for="dust">Dust</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="Noise" id="noise" name="impactType[]"><label class="form-check-label" for="noise">Noise</label></div><div class="form-check"><input class="form-check-input" type="checkbox" value="Vibration" id="vibration" name="impactType[]"><label class="form-check-label" for="vibration">Vibration</label></div></div>
    </div>

    <div class="mb-3" style="font-size: 18px;">
        <label for="file" class="form-label selection-header">Upload a Graphic/Photo</label>
        <input type="file" class="form-control" id="file" name="file">
    </div>

    <div class="mb-3" style="font-size: 18px;">
        <label class="form-label selection-header">Map</label>
        <div class="map-controls">
            <label for="colorPicker">Choose a color:</label>
            <input type="color" id="colorPicker" name="color" value="#f4661a">
            <label for="widthPicker" style="margin-left: 20px;">Choose line width:</label>
            <input type="number" id="widthPicker" name="width" min="1" max="10" value="8">
        </div>
        <div id="map" style="width: 1200px; height: 600px;"></div>
        <input type="hidden" id="mapData" name="mapData">
    </div>

    <div class="mb-3">
        <label for="bannerContent" class="form-label selection-header">Banner content?</label>
        <select class="form-control" id="bannerContent" name="bannerContent">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="postDate" class="form-label selection-header">Post online on:</label>
        <input type="date" class="form-control" id="postDate" name="postDate" required>
    </div>

    <div class="mb-3">
        <label for="removeDate" class="form-label selection-header">Remove post on:</label>
        <input type="date" class="form-control" id="removeDate" name="removeDate">
    </div>

    <div class="mb-3">
        <label for="contact" class="form-label selection-header">Contact Block</label>
        <select class="form-select" id="contact" name="contact">
            <option value="206-777-8885">Montlake contact</option>
            <option value="206-316-2559">I-5 contact</option>
            <option value="206-200-9484">General contact</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary ml-5 mb-5 mt-4">Submit</button>
    <br>
    <br>
    <p></p>
</form>

        <p></p>
        <p></p>

    </div>

</div>

<div class="success-message"> 
  <% if (success_msg && success_msg.length > 0) { %>
      <div class="alert alert-success">
          <%= success_msg %>
      </div>
  <% } %>
  <div id="errorMessage" style="color: red;">
  <% if (error_msg && error_msg.length > 0) { %>
      <div class="alert alert-danger">
          <%= error_msg %>
      </div>
  <% } %>
</div>

</section>
<!-- END Form's HTML -->
<script>

function displayFormMessage(message, type) {
    const errorMessageBox = document.getElementById('errorMessage');
    const successMessageBox = document.querySelector('.success-message');

    // Reset previous messages
    errorMessageBox.innerHTML = '';
    successMessageBox.innerHTML = '';

    const alertBox = document.createElement('div');

    if (type === 'error') {
        alertBox.className = 'alert alert-danger';
        errorMessageBox.appendChild(alertBox);
    } else if (type === 'success') {
        alertBox.className = 'alert alert-success';
        successMessageBox.appendChild(alertBox);
    }

    alertBox.textContent = message;
}


    const map = L.map('map').setView([47.6407, -122.2971], 15);
    
    // Add Google Mutant layer
    L.gridLayer.googleMutant({
        type: 'roadmap',
        maxZoom: 20,
        apiKey: 'AIzaSyCUt0Sdti_Aderhux8JNiFR-6ClvNIb7Gk'
    }).addTo(map);
    
    // Drawing controls
    const drawnItems = new L.FeatureGroup().addTo(map);
    const drawControl = new L.Control.Draw({
        edit: {
            featureGroup: drawnItems
        }
    }).addTo(map);
    
    map.on(L.Draw.Event.CREATED, function(event) {
        const layer = event.layer;
        drawnItems.addLayer(layer);
    });
    
    map.on(L.Draw.Event.EDITED, function(event) {
        const layers = event.layers;
        layers.eachLayer(function(layer) {
            // Update the layers here if necessary
        });
    });
    
   
    document.querySelector('form').addEventListener('submit', async function(e) {
        e.preventDefault();
    
        // Extract form data
        const formData = new FormData(e.target);
    
        // Convert drawn items to geoJSON and add to the form data
        const drawnData = drawnItems.toGeoJSON();
        formData.set('mapData', JSON.stringify(drawnData));
    
        // POST request to send form data and drawn items to the server
        try {
            const response = await fetch('/api/projects', {
                method: 'POST',
                body: formData
            });
    



// Handle success
if (response.ok) {
    displayFormMessage("Construction event created successfully.", 'success');
} else {
    const data = await response.json();
    console.error("Error saving project:", data.error);
    displayFormMessage(data.error, 'error');
}
            if (response.ok) {
                            window.location.href = "/projectForm"; 
            } else {
                             const data = await response.json();
                console.error("Error saving project:", data.error);
            }
        } catch (error) {
                console.error("Failed to submit form:", error);
                displayFormMessage("Error: Failed to submit form. Please try again.", 'error');
            }

    });
    </script>
    
  </body>
</html>

